In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_excel('../Turchin_Korotayev_R/PSImodel2020.xlsx')

In [5]:
data

,year,ProdWage,UnskillWage,GDPpc,RelWage,Urbanization,Age20_29,RelDebt,Distrust,elite,epsilon,PSI
0,1945,1.06,813.0,1593.68,1.330255,60.739698,17.032527,116.000981,NaN,NaN,NaN,NaN
1,1946,1.13,900.0,1571.55,1.438071,61.554404,16.901523,121.252070,NaN,NaN,NaN,NaN
2,1947,1.30,1017.0,1693.66,1.535137,62.307657,16.550344,105.811710,NaN,NaN,NaN,NaN
3,1948,1.41,1087.0,1835.22,1.536601,62.955541,16.332707,93.754086,NaN,NaN,NaN,NaN
4,1949,1.46,1131.0,1791.03,1.630347,63.479053,16.055473,94.599686,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
71,2016,NaN,NaN,NaN,NaN,82.816050,13.653188,NaN,NaN,NaN,NaN,NaN
72,2017,NaN,NaN,NaN,NaN,82.916050,13.545227,NaN,NaN,NaN,NaN,NaN
73,2018,NaN,NaN,NaN,NaN,83.016050,13.415348,NaN,NaN,NaN,NaN,NaN
74,2019,NaN,NaN,NaN,NaN,83.116050,13.274122,NaN,NaN,NaN,NaN,NaN
75,2020,NaN,NaN,NaN,NaN,83.216050,13.107776,NaN,NaN,NaN,NaN,NaN

In [7]:
####   Variables
# ProdWage = nominal hourly wage of production workers (source: MeasuringWorth, Officer and Williamson 2013)
# UnskillWage = nominal wage of production workers (source: MeasuringWorth, scaled to 1 in 1860)
# GDPpc = nominal GDP per capita in nominal (source: MeasuringWorth)
# RelWage = relative wage, to be calculated 
# Urbanization = percent of population in urban places (source: Hist Stats of the US, Carter et al. 2004)
# A20_29 = percent of population in the age cohort 20-29 years (source: US Census Bureau, includes the forecast to 2020)
# RelDebt = national debt scaled by GDP (source: US Dept of the Treasury)
# Distrust = percent responding negatively to the government trust question (source: Pew Research Center)

################    Parameters
w_0 = 1
mu_0 = 0.1
Lambda = 0.5

In [58]:
################    Calculate RelWage, averaging production and unskilled wages, scaled to 1 in 1980
data['RelWage1'] = data['ProdWage']/data['GDPpc']
scaler = data['RelWage1'].loc[data['year'] == 1980].values[0]
#print(scaler[0])
data['RelWage1'] = data['RelWage1'].divide(data['RelWage1'].loc[data['year'] == 1980].values[0])
#RelWage2 = data['UnskillWage']/data['GDPpc']
#RelWage2 = RelWage2/RelWage2[data['year'] == 1980]
#data['RelWage'] = (RelWage1+RelWage2)/2
data['RelWage2'] = data['UnskillWage']/data['GDPpc']
scaler2 = data['RelWage2'].loc[data['year'] == 1980].values
print(scaler2[0])
data['RelWage2'] = data['RelWage2'].divide(scaler2[0])

0.5431495962663417

In [57]:
print(data['ProdWage'].loc[data['year'] == 1980])
print(data['GDPpc'].loc[data['year'] == 1980])
print(data['RelWage1'].loc[data['year'] == 1979])
data['RelWage2'].loc[data['year'] == 1979]

35    9.12
Name: ProdWage, dtype: float64
35    12243.22
Name: GDPpc, dtype: float64
34    0.983651
Name: RelWage1, dtype: float64

34    0.977236
Name: RelWage2, dtype: float64

In [54]:
data.head()

,year,ProdWage,UnskillWage,GDPpc,RelWage,Urbanization,Age20_29,RelDebt,Distrust,elite,epsilon,PSI,RelWage1
0,1945,1.06,813.0,1593.68,NaN,60.739698,17.032527,116.000981,NaN,NaN,NaN,NaN,0.892906
1,1946,1.13,900.0,1571.55,NaN,61.554404,16.901523,121.252070,NaN,NaN,NaN,NaN,0.965275
2,1947,1.30,1017.0,1693.66,NaN,62.307657,16.550344,105.811710,NaN,NaN,NaN,NaN,1.030429
3,1948,1.41,1087.0,1835.22,NaN,62.955541,16.332707,93.754086,NaN,NaN,NaN,NaN,1.031411
4,1949,1.46,1131.0,1791.03,NaN,63.479053,16.055473,94.599686,NaN,NaN,NaN,NaN,1.094336

In [22]:
data['RelWage1']

0     0.000665
1     0.000719
2     0.000768
3     0.000768
4     0.000815
        ...
71         NaN
72         NaN
73         NaN
74         NaN
75         NaN
Name: RelWage1, Length: 76, dtype: float64